{{#each sites as |site|}}

 <!-- Developers, why are we using data-id and not just id? -->
<div class="col-xs-8 col-md-8 minibox">
  <ul data-id="{{site.id}}">
    <li>
    {{#if site.title}}
    <medium>{{site.title}}</medium>
    {{else}}
    <b>No Title</b>
    {{/if}}</li>
    <br>
    <button class="view">View Site</button>
    <br>
    <br>
    <br>
  </ul>

</div>
{{/each}}
