 <!-- New  -->
 <br>
   <div class="panel panel-info" data-id="{{page.id}}">
     {{#if page.title}}
       <div class="panel-heading">{{page.title}}</div>
     {{else}}
       <div class="panel-heading">No Title</div>
     {{/if}}
       <div class="panel-body">
         {{page.textcontent}}
       </div>
     </div>
   </div>
