$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


body {
  padding-top: 70px;
}

.show-pages {
  display: inline-block;
}

.pages {
  float: left;
}

.userdashboard {
  text-align: center;
}

.modal-backdrop.in {
    opacity: 0.5;
}
